@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

@{
    Layout = "/Pages/Shared/_IdentityEmptyLayout.cshtml";
}

<div class="box-right">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h5 class="box-right-nav">@ViewData["Title"]</h5>
        <p class="text-right">Posiadasz już konto, w takim razie <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-5">Zaloguj się</a></p>
        <div asp-validation-summary="ModelOnly" class="error-text" role="alert"></div>
        <div class="login-input">
            <input asp-for="Input.Email" class="email" autocomplete="username" aria-required="true" placeholder="E-mail" />
            <span asp-validation-for="Input.Email" class="error-text"></span>
            <br>
            <input asp-for="Input.Password" class="password" autocomplete="new-password" aria-required="true" placeholder="Hasło" />
            <span asp-validation-for="Input.Password" class="error-text"></span>
            <br>
            <input asp-for="Input.ConfirmPassword" class="password" autocomplete="new-password" aria-required="true" placeholder="Powtórz hasło" />
            <span asp-validation-for="Input.ConfirmPassword" class="error-text"></span>
            <br>
        </div>

        <br><br>

        <br>
        <button id="registerSubmit" type="submit" class="login-button">Zarejestruj</button>
    </form>
    <a href="~/"><button class="back-button"><img alt="image" src="/css/Photos/icons8-left-arrow-48.png" class="home-icon10" /></button></a>
</div>
@*     <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
